<div class="dots">
  <div class="content">
    <p>A creative studio that surprises and delights.</p>
  </div>
  <div class="text work" onclick="openPopup(work);">
    <span>Work</span>
  </div>
  <div class="text contact">
    <a href="/contact.html">Contact</a>
  </div>
  <div class="text services">
    <a href="/services.html">Services</a>
  </div>
  <div class="text news">
    <a href="/news.html">News</a>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-1.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-2.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-3.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-4.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-5.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-6.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-7.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-8.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-9.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-10.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-11.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-12.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-13.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-14.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-15.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-16.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-1-17.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-2-1.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-2-2.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-2-3.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-2-4.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-2-5.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-2-6.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-2-7.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-2-8.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-2-9.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-2-10.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-2-11.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-2-12.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-2-13.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-2-14.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-2-15.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-3-1.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-3-2.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-3-3.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-3-4.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-3-5.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-3-6.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-3-7.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-3-8.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-3-9.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-3-10.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-3-11.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-3-12.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-3-13.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-3-14.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-3-15.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-4-1.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-4-2.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-4-3.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-4-4.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-4-5.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-4-6.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-4-7.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-4-8.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-4-9.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-4-10.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-4-11.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-4-12.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-5-1.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-5-2.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-5-3.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-5-4.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-5-5.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-5-6.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-5-7.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-5-8.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-5-9.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-5-10.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-5-11.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-5-12.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-1.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-2.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-3.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-4.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-5.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-6.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-7.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-8.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-9.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-10.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-11.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-12.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-13.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-14.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-15.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-16.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-6-17.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-7-1.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-7-2.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-7-3.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-7-4.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-7-5.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-7-6.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-7-7.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-7-8.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-7-9.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-7-10.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-7-11.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-7-12.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-7-13.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-7-14.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-7-15.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-8-1.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-8-2.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-8-3.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-8-4.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-8-5.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-8-6.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-8-7.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-8-8.png');"></div>
    </div>
  </div>
  <div class="dot">
    <div class="dot-inner">
      <div style="background-image: url('images/dots/row-8-9.png');"></div>
    </div>
  </div>
</div>
