<div class="footer-desktop grid">
  <div class="two-twelfths footer-location border-right">
    <span>new york city</span>
  </div>
  <div class="three-twelfths footer-contact">
    <h2 class="footer-strong">Contact</h2>
    <div>
      <a href="mailto:hello@butterstudio.co">
        hello@butterstudio.co
      </a>
    </div>
  </div>
  <div class="two-twelfths footer-image">
    <img src="/images/butter-flowers.svg">
  </div>
  <div class="three-twelfths footer-subscribe border-right">
    <h2 class="footer-strong">Subscribe</h2>
    <div class="footer-email">
      <form action="https://hifiathletics.us18.list-manage.com/subscribe/post?u=9a49880e5164472b6be91e6aa&amp;id=5e16f56f36" method="post" target="_blank">
        <input type="email" name="EMAIL" placeholder="email" />
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9a49880e5164472b6be91e6aa_5e16f56f36" tabindex="-1" value=""></div>
        <input type="submit" name="subscribe" value=">" />
      </form>
    </div>
  </div>
  <div class="one-twelfth footer-follow border-right">
    <a href= "http://instagram.com/butterstudio.co" target="_blank">
      <h2 class="footer-strong">Follow</h2>
    </a>
  </div>
  <div class="one-twelfth footer-temperature">
    <span class="weather"></span>
  </div>
</div>
<div class="footer-mobile">
  <div class="grid border-bottom">
    <div class="three-quarters footer-contact">
      <h2 class="footer-strong">Contact</h2>
      <div>
        <a href="mailto:hello@butterstudio.co">
          hello@butterstudio.co
        </a>
      </div>
    </div>
    <div class="one-quarter footer-image">
      <img src="/images/butter-flowers.svg">
    </div>
  </div>
  <div class="grid border-bottom">
    <div class="footer-subscribe">
      <h2 class="footer-strong">Subscribe</h2>
      <div class="footer-email">
        <form action="https://hifiathletics.us18.list-manage.com/subscribe/post?u=9a49880e5164472b6be91e6aa&amp;id=5e16f56f36" method="post" target="_blank">
          <input type="email" name="EMAIL" placeholder="email" />
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9a49880e5164472b6be91e6aa_5e16f56f36" tabindex="-1" value=""></div>
          <input type="submit" name="subscribe" value=">" />
        </form>
      </div>
    </div>
  </div>
  <div class="grid border-bottom">
    <div class="five-twelfths footer-location border-right">
      <span>new york city</span>
    </div>
    <div class="four-twelfths footer-follow border-right">
      <a href= "http://instagram.com/butterstudio.co" target="_blank">
        <h2 class="footer-strong">Follow</h2>
      </a>
    </div>
    <div class="three-twelfths footer-temperature">
      <span class="weather"></span>
    </div>
  </div>
</div>
