<meta charset="utf-8">
<title>Butter Studio – Brooklyn, NY</title>
<meta name="description" content="Butter is a creative studio in Brooklyn, New York that surprises and delights.">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/reset.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/add-ons.css">
<link rel="icon" type="image/png" href="images/favicon@2x.png" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
<![endif]-->
