doctype html(lang='en')

head
  include header.html
  // Required for Previews and Experiments
  script
    = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
  script(src="//static.cdn.prismic.io/prismic.min.js")

body
  div(class="page")
    div(class="wrapper")
      div(class="title")
        a(href="/")
          include header-svg.html
      div(class="dots-container")
        block body
      include footer.html
  include scripts.html
