extends ./layout.pug

block body
  #news.popup
    include html/news-header.html
    .popup-news
      .popup-slider
        each newsItem in newsItems
          .popup-slide
            .grid
              .grid__item.one-third.medium-down--one-whole
                .popup-news-item
                  h3= newsItem.data.title[0].text
                  p !{PrismicDOM.RichText.asHtml(newsItem.data["news-text"])}
              .grid__item.seven-twelfths.push--large--one-twelfth.medium-down--one-whole
                .popup-image
                  img(src=newsItem.data["news-image"].url)
