a {
  text-decoration: none;
}

.text a {
  padding: 5px 10px 3px;
  display: block;
  line-height: 1em;
  color: black;
  transition: none;
}
.text a:hover {
  background-color: black;
  color: white;
  opacity: 1;
}

.underline {
  text-decoration: underline;
}
