@font-face {
    font-family: 'GT Sectra Fine Trial';
    src: url('../fonts/GT-Sectra-Fine-Regular.eot');
    src: url('../fonts/GT-Sectra-Fine-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GT-Sectra-Fine-Regular.woff2') format('woff2'),
        url('../fonts/GT-Sectra-Fine-Regular.woff') format('woff'),
        url('../fonts/GT-Sectra-Fine-Regular.ttf') format('truetype'),
        url('../fonts/GT-Sectra-Fine-Regular.svg#GT-Sectra-Fine-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Transcript Trial';
    src: url('../fonts/transcript-bold.eot');
    src: url('../fonts/transcript-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/transcript-bold.woff2') format('woff2'),
        url('../fonts/transcript-bold.woff') format('woff'),
        url('../fonts/transcript-bold.ttf') format('truetype'),
        url('../fonts/transcript-bold.svg#transcript-bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Transcript Trial';
    src: url('../fonts/transcript-regular.eot');
    src: url('../fonts/transcript-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/transcript-regular.woff2') format('woff2'),
        url('../fonts/transcript-regular.woff') format('woff'),
        url('../fonts/transcript-regular.ttf') format('truetype'),
        url('../fonts/transcript-regular.svg#transcript-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
  text-align: center;
  font-family: 'GT Sectra Fine Trial';
  margin: 0;
}

h2 {
  font-family: 'Transcript Trial';
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  font-weight: normal;
  margin: 0;
}

.page {
    height: 100vh;
}

a {
  color: inherit;
  transition: all 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-family: 'Transcript Trial';
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;

  // padding: 30px;
  // box-sizing: border-box;
  // width: 100px;
  // margin: 20px;

  span {
    padding: 5px 10px 3px;
    display: block;
    line-height: 1em;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.dots-container {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  position: relative;

  .index-work {
    margin-top: 50px;
  }
}

.dots {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-auto-flow: row;
  position: relative;
  transition: opacity 1s;
  border-bottom: 2px solid black;
  // grid-auto-rows: 50px;
  // grid-gap: 10px;

  @include media-query($medium) {
    grid-template-columns: repeat(10, 1fr);
  }

  @include media-query($small) {
    grid-template-columns: repeat(8, 1fr);
  }

  @include media-query($mobile) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.dot {
  margin: 10px auto;
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:hover, &:active, &:focus {
    outline: none;
  }

  @include media-query($medium) {
    &:nth-last-child(-n+2) {
        display: none;
    }
  }

  @include media-query($small) {
    width: 35px;
    height: 35px;
    // margin: 10px 5;

    &:nth-last-child(-n+5) {
        display: none;
    }
  }

  @include media-query($mobile) {
    width: 30px;
    height: 30px;

    &:nth-last-child(-n+6) {
        display: none;
    }
  }


}

.dot-inner {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  perspective: 1000;

  > div {
    background-position: center;
    border-radius: 50%;
    background-color: blue;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backface-visibility: hidden;
    // transform: rotateY(-180deg);
    opacity: 0;
    transition: all 0.3s;
    // transform-style: preserve-3d;
  }

  &:hover, &:focus, &:active {
    > div {
      opacity: 1;
    }
  }
}

.dot-hovered {
  .dot-inner {
    > div {
      opacity: 1;
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  grid-column: 7 / 11;
  grid-row: 4 / 6;

  p {
    font-family: 'GT Sectra Fine Trial';
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 1.26em;
  }

  @include media-query($medium) {
    grid-column: 3 / 9;
    grid-row: 2 / 4;
  }

  @include media-query($small) {
    grid-column: 2 / 8;
    grid-row: 2 / 4;
  }

  @include media-query($mobile) {
    grid-column: 2 / 8;
    grid-row: 3 / 5;

    p {
      font-size: 20px;
      margin: 0;
    }
  }
}

.services {
  grid-row: 7;
  grid-column: 3 / 5;

  @include media-query($medium-down) {
    grid-column: 2 / 4;
    grid-row: 8;
  }

  @include media-query($mobile) {
    grid-row: 10;
    grid-column: 2 / 5;
  }
}

.work {
  grid-row: 2;
  grid-column: 4 / 6;

  @include media-query($medium) {
    grid-column: 4 / 6;
    grid-row: 6;
  }

  @include media-query($small) {
    grid-column: 4 / 7;
    grid-row: 6;
  }

  @include media-query($mobile) {
    grid-column: 4 / 6;
    grid-row: 7;
  }
}

.contact {
  grid-row: 3;
  grid-column: 12 / 14;

  @include media-query($medium) {
    grid-column: 5 / 7;
    grid-row: 12;
  }

  @include media-query($small) {
    grid-column: 6 / 8;
    grid-row: 12;
  }

  @include media-query($mobile) {
    grid-column: 2 / 5;
    grid-row: 14;
  }
}

.news {
  grid-row: 6;
  grid-column: 14 / 16;

  @include media-query($medium) {
    grid-column: 8 / 10;
    grid-row: 10;
  }

  @include media-query($small) {
    grid-column: 4 / 6;
    grid-row: 14;
  }

  @include media-query($mobile) {
    grid-column: 5 / 7;
    grid-row: 12;
  }
}

.title {
  font-size: 40px;
  padding: 20px 0;
  cursor: pointer;

  svg {
    display: block;
    margin: auto;
    max-width: 105px;
  }
}

.footer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  > div {
    padding-bottom: 15px;
  }

  @include media-query($medium-down) {
    padding: 30px 0;
  }
}

.footer-location, .footer-temperature {
  font-family: 'GT Sectra Fine Trial';
}

.footer-newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Transcript Trial';

  > div {
    padding: 0 15px;

    @include media-query($medium-down) {
      padding: 0 0 15px;
      width: 100%;
    }
  }

  @include media-query($medium-down) {
    order: -1;
    width: 100%;
  }
}

.footer-email {
  form {
    border-bottom: 1px solid black;
    padding: 0 0 10px;
    display: flex;

    input[type="email"] {
      outline: none;
      border: 0;
      width: 200px;
      flex: 1;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: black;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: black;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: black;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: black;
      }
    }

    input[type="submit"] {
      background: none;
      border: 0;
      cursor: pointer;
      outline: none;
    }
  }
}

#services {
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

#news {
  // display: flex;
  // align-items: center;
}

.popup {
  position: relative;
  // top: 0;
  // right: 0;
  // left: 0;
  // bottom: 0;
  width: 100%;
  // height: 100%;
  background: white;
  z-index: 10;
  padding: 30px 0;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 1s;
  z-index: 1000;
  // min-height: 70vh;
  // overflow-y: scroll;
}

.hidden {
  // visibility: hidden;
  // height: 0;
  // overflow-y: hidden;
  // padding: 0;
  opacity: 0;
  z-index: -1000;
  position: absolute;
  transition: opacity 0s;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.popup-header {
  // position: absolute;
  // top: 30px;
  padding: 0 0 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  h2 {
    text-transform: uppercase;
  }
}

.popup-header-text {
  font-family: 'GT Sectra Fine Trial';

  @include media-query($large) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    br {
      display: none;
    }
  }

  p {
    margin: 0;
    line-height: 1.5em;
  }

  @include media-query($medium-down) {
    order: 10;
    width: 100%;
    padding: 30px 0 0;

    br {
      display: block;
    }
  }
}

.x {
  cursor: pointer;
  svg {
    display: block;
    width: 25px;
  }
}

.popup-content {
  // height: 100%;
  width: 100%;
  padding: 0 0 25px;
  background: white;
}

.up-arrow {
  width: 25px;
  position: fixed;
  bottom: 10%;
  right: 5%;
  cursor: pointer;
}

.popup-list {
  padding-right: 20px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 0;
    }

    li {
      font-family: 'Transcript Trial';
      font-size: 20px;
      line-height: 1.75em;
      text-transform: lowercase;
    }
  }

  h3 {
      font-family: 'Transcript Trial';
      font-weight: bold;
      font-size: 15px;
      line-height: 1.2em;
      letter-spacing: 0.03em;
      text-transform: uppercase;
  }
}

.popup-work {
  .popup-image {
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }

  .work-item {
    padding-bottom: 20px;
    cursor: pointer;
  }
}

.popup-image-caption-right {
  float: right;
}

.work-row {
  margin-bottom: 40px;
}

.popup-work-subpages {
  h3 {
    font-family: 'Transcript Trial';
    font-weight: bold;
    font-size: 20px;
    line-height: 1.45em;
    letter-spacing: 0.03em;
    max-width: 80%;
  }

  p {
    font-family: 'Transcript Trial';
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 22px;
    margin-top: 0px;
  }

  .work-item {
    padding-bottom: 20px;
    margin-bottom: 40px;
  }

  .credit-section {
    margin-bottom: 25px;

    p {
      margin: 0;
    }

    .credit-section-bold {
      font-weight: 700;
    }
  }

  .work-statement {
    font-family: 'Transcript Trial';
    font-weight: normal;
    font-size: 20px;
    line-height: 1.45em;
    letter-spacing: 0.03em;
    text-align: center;
  }
}

.contact-form {
  input, label, textarea, p {
    display: block;
    font-family: 'Transcript Trial';
    font-size: 17px;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    text-align: center;
  }

  input[type="email"], input[type="text"] {
    border: 0;
    outline: none;
    border-bottom: 2px solid black;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.5);
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.5);
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: rgba(0, 0, 0, 0.5);
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: rgba(0, 0, 0, 0.5);
    }
  }

  input[type="submit"] {
    border: 0;
    outline: none;
    border: 2px solid black;
    padding: 15px 15px 10px;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: all 0.3s;
    cursor: pointer;
    margin-bottom: 30px;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  label {
    margin-bottom: 10px;
    // color: rgba(0, 0, 0, 0.5);
  }

  label, textarea {
      width: 100%;
      outline: none;
  }

  textarea {
    border: 2px solid black;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
  }

  .contact-message {
    padding-top: 20px;
    margin-bottom: 30px;
  }
}

.popup-image {
  // padding-right: 50px;

  img {
    display: block;
    width: 100%;
  }
}

.popup-slider, .popup-slide {
  width: 100%;
  display: block;
  outline: none;
}

.popup-slider {
  margin-bottom: 60px !important;
}

.popup-news-item {
  h3 {
    font-family: 'Transcript Trial';
    font-weight: bold;
    font-size: 17px;
    line-height: 1.45em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0 0 22px;
  }

  p, span {
    font-family: 'Transcript Trial';
    font-size: 14px;
    line-height: 1.8em;
    letter-spacing: 0.03em;
    margin: 0 0 22px;

    // &:last-of-type {
    //   margin-bottom: 0;
    // }
  }
}

.popup-news-credits {
  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.popup-news {
  width: 100%;
  // padding: 0 0 50px;
}

.slick-arrow {
  bottom: -60px;
}

.slick-next {
  right: 10px;

  &:before {
    content: url("../images/right-chevron.svg");
  }
}

.slick-prev {
  left: 10px;

  &:before {
    content: url("../images/left-chevron.svg");
  }
}

.slick-arrow {
  height: auto;
  top: auto;
  -webkit-transform: none;transform: none;
  //
  // @include media-query($medium-down) {
  // }
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.text a {
  padding: 5px 10px 3px;
  display: block;
  line-height: 1em;
  color: black;
  transition: none;
}
.text a:hover {
  background-color: black;
  color: white;
  opacity: 1;
}

.underline {
  text-decoration: underline;
}

.work-description a {
  text-decoration: underline;
}

.news-row {
  margin-bottom: 80px;
}
