<div id="contact" class="popup">
  <div class="popup-header">
    <h2>Contact</h2>
    <a class="x" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.3 26.3">
        <defs>
          <style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:3px;}</style>
        </defs>
        <title>x</title>
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <line class="cls-1" x1="1.06" y1="1.06" x2="25.24" y2="25.24"/>
            <line class="cls-1" x1="1.06" y1="25.24" x2="25.24" y2="1.06"/>
          </g>
        </g>
      </svg>
    </a>
  </div>
  <div class="popup-content">
    <div class="grid">
      <div class="one-half push--large--one-quarter medium-down--one-whole">
        <div class="contact-form">
          <form action="https://formspree.io/hello@butterstudio.nyc" method="POST">
            <div>
              <input type="text" placeholder="name" name="name" />
            </div>
            <div>
              <input type="email" placeholder="email" name="_replyto" />
            </div>
            <div class="contact-message">
              <label for="message">message</label>
              <textarea id="message" name="message" rows="10"></textarea>
            </div>
            <div class="contact-submit">
              <input type="submit" value="send">
            </div>
          </form>
          <p>Get to know us better, insta: <strong><a href= "http://instagram.com/butterstudio.co" target="_blank">@butterstudio.co</a></strong>, email: <strong>hello@butterstudio.co</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
