<div id="news" class="popup">
  <div class="popup-header">
    <h2>News</h2>
    <a class="x" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.3 26.3">
        <defs>
          <style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:3px;}</style>
        </defs>
        <title>x</title>
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <line class="cls-1" x1="1.06" y1="1.06" x2="25.24" y2="25.24"/>
            <line class="cls-1" x1="1.06" y1="25.24" x2="25.24" y2="1.06"/>
          </g>
        </g>
      </svg>
    </a>
  </div>
  <div class="popup-news">
    <div class="popup-slider">
      <div class="popup-slide">
        <div class="grid">
          <div class="grid__item one-third medium-down--one-whole">
            <div class="popup-news-item">
              <h3>Butter // Working Not Working Magazine</h3>
              <p>"WNW Member Cari Sekendur launched her own studio Butter just over a year ago. We recently caught up with the Brooklyn-based Creative Director, Art Director, Designer (and Founder), and are loving the eclectic range of project highlights already on display in their portfolio: full-scope branding for a boxing-inspired streetwear brand, a Manhattan seafood staple, a Nashville-based coffee shop, a record company, and more. In our interview below, Cari shares why it was time to open her own studio, how Butter determines which projects to take on, whether her approach has changed from her days as a freelancer, and the biggest challenges and surprised in building a studio."</p>
              <p><strong><a href="https://magazine.workingnotworking.com/magazine/2019/8/19/butter-studio" target="_blank">READ THE FULL PIECE</a></strong></p>
            </div>
          </div>
          <div class="grid__item seven-twelfths push--large--one-twelfth medium-down--one-whole">
            <div class="popup-image">
              <img src="images/butter_wnw_1.jpg"/>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-slide">
        <div class="grid">
          <div class="grid__item one-third medium-down--one-whole">
            <div class="popup-news-item">
              <h3>Other Half Brewing // The Dieline</h3>
              <p>"We’re obsessed with Other Half Brewing’s limited-edition short-run brews that feature pop-iconography to produce fun & flirty cans. While the illustrations appear random in nature, they’re avant-garde enough to bring to any artsy dinner party or BBQ"</p>
              <p><strong><a href="https://thedieline.com/blog/2019/8/12/other-half-brewing-is-fun--flirty" target="_blank">SEE THE FULL PIECE</a></strong></p>
            </div>
          </div>
          <div class="grid__item seven-twelfths push--large--one-twelfth medium-down--one-whole">
            <div class="popup-image">
              <img src="images/butter_dieline_oh_1.jpg" />
            </div>
          </div>
        </div>
      </div>
      <div class="popup-slide">
        <div class="grid">
          <div class="grid__item one-third medium-down--one-whole">
            <div class="popup-news-item">
              <h3>Flex Mussels // Page Magazine</h3>
              <p>"Like a day on the beach: Studio Butter lets maritime summer holidays waft through the corporate identity of the Flex Mussels restaurant.</p>
              <p>Flex Mussels is a New York-style restaurant specializing in the fresh, plump shells of the Canadian Prince Edward Islands, served with a selection of 23 different sauces. The owners themselves came from Canada, started on the island of PEI with a bistro and finally came to Manhattan 10 years ago."</p>
              <p><strong><a href="https://page-online.de/kreation/flex-mussels-herrlich-augenzwinkerndes-corporate-design/" target="_blank">READ THE FULL PIECE</a></strong></p>
            </div>
          </div>
          <div class="grid__item seven-twelfths push--large--one-twelfth medium-down--one-whole">
            <div class="popup-image">
              <img src="images/butter_page_flex_1.jpg" />
            </div>
          </div>
        </div>
      </div>
      <div class="popup-slide">
        <div class="grid">
          <div class="grid__item one-third medium-down--one-whole">
            <div class="popup-news-item">
              <h3>Other Half // AIGA Eye on Design</h3>
              <p>"Consistency is great and all, but so is going totally, unexpectedly wild. Brooklyn’s Butter studio worked with New York brewery Other Half to design labels for its short-run beer collaborations, and they are as fun as they are varied. For a Florida retiree-themed beer, Butter designed a peachy label dotted with dolphins and dentures. A milk stout called Spiritual Nucleus is emblazoned with a trippy, screen saver pattern. Our personal favorite, a golden ale called Gold Bangles, features a glitzy print of glitter and gold rings. In other words, it’s what you would never expect from a beer company."</p>
              <p><strong><a href="https://eyeondesign.aiga.org/kooky-labels-alien-themed-branding-a-simply-gorgeous-wine-design/" target="_blank">SEE THE FULL PIECE</a></strong></p>
            </div>
          </div>
          <div class="grid__item seven-twelfths push--large--one-twelfth medium-down--one-whole">
            <div class="popup-image">
              <img src="images/butter_aiga_otherhalf_1.jpg" />
            </div>
          </div>
        </div>
      </div>
      <div class="popup-slide">
        <div class="grid">
          <div class="grid__item one-third medium-down--one-whole">
            <div class="popup-news-item">
              <h3>Flex Mussels // Creative Boom</h3>
              <p>"Brooklyn studio Butter has served up this splendid new identity for Flex Mussels in Manhattan, a family-run restaurant that specialises in the freshest and plumpest mussels, sourced from a Canadian fishing island.</p>
              <p>Prince Edward Island claims to have some of the best seafood in the world and it's also notable for its vibrant colours, marine-inspired architecture, and diverse landscape. Butter drew on this rich history and culture for its new brand.</p>
              <p>"We wanted to capture the roots of the restaurant, which started as a storefront on Prince Edward Island before making its way to Manhattan as the family's 23rd establishment 10 plus years ago," says Cari Sekendur, principal of Butter."</p>
              <p><strong><a href="https://www.creativeboom.com/inspiration/butters-fresh-identity-for-a-manhattan-restaurant-specialising-in-the-plumpest-of-mussels/" target="_blank">READ THE FULL PIECE</a></strong></p>
            </div>
          </div>
          <div class="grid__item seven-twelfths push--large--one-twelfth medium-down--one-whole">
            <div class="popup-image">
              <img src="images/butter_creativeboom_flex.png" />
            </div>
          </div>
        </div>
      </div>
       <div class="popup-slide">
        <div class="grid">
          <div class="grid__item one-third medium-down--one-whole">
            <div class="popup-news-item">
              <h3>HiFi // AIGA Eye on Design</h3>
              <p>"In other follow-up news, designer Cari Sekendur, whose philanthropic project Mo’ Money Mo’ Progress we’ve told y’all about before, got in touch about her studio Butter, out of NYC. We spent far too long playing around on the homepage of her site, scrolling over the circles to fill them with close crops of her work. When we finally got around to the work, we weren’t disappointed. Especially nice is the retro collage style of the HIFI Athletics branding, created together with illustrator, Heidi Chisholm and designer Lara Turner, for the “boxing-inspired streetwear brand” for women, non-binary, and trans people. The aim of the campaign was to express inclusion for all in combat sports, with bright colors and striking illustration and collage elements. We’re really into the moving poster and Instagram images—nice work, Butter."</p>
              <p><strong><a href="https://eyeondesign.aiga.org/no-256-the-new-york-times-is-on-fire-national-geographic-creates-a-borderless-design-for-its-migrant-issue-more/" target="_blank">SEE THE FULL PIECE</a></strong></p>
            </div>
          </div>
          <div class="grid__item seven-twelfths push--large--one-twelfth medium-down--one-whole">
            <div class="popup-image">
              <img src="images/butter_aiga_hifi_1.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="popup-slide">
        <div class="grid">
          <div class="grid__item one-third medium-down--one-whole">
            <div class="popup-news-item">
              <h3>Pastrytown, An Other Half Experience // Pulling Pints and Pies</h3>
              <p>An entire day full of the sweetest stouts and tartest sours, Pastrytown was a perfect panacea of craft beer delights. Doughnuts danced and strawberries shimmied into brews from the 36 of the best beer makers in the world. This sweet, sweet day of gluttony is one of Other Half's annual beer festivals that take place right to our backyard, Industry City in Brooklyn. Butter had the privilege of executing Other Half's creative director, Megan Penmann's, vision of this fanciful world onto everything from signage to social media content to print design.
              <p><strong>CREDITS</strong> // Client: Other Half Brewing / Creative Director: Megan Penmann / Designer: Cari Sekendur</p>
              <p class="uppercase"><strong> print design / signage and wayfinding / social media content / digital design / packaging design / event design</strong></p>
            </div>
          </div>
          <div class="grid__item seven-twelfths push--large--one-twelfth medium-down--one-whole">
            <div class="popup-image">
              <img src="images/pastrytown.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
