<div id="services" class="popup">
  <div class="popup-header">
    <h2>Services</h2>
    <a class="x" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.3 26.3">
        <defs>
          <style>
            .cls-1 {
            fill: none;
            stroke: #000;
            stroke-miterlimit: 10;
            stroke-width: 3px;
            }
          </style>
        </defs>
        <title>x</title>
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <line class="cls-1" x1="1.06" y1="1.06" x2="25.24" y2="25.24"></line>
            <line class="cls-1" x1="1.06" y1="25.24" x2="25.24" y2="1.06"></line>
          </g>
        </g>
      </svg>
    </a>
  </div>
  <div class="popup-content">
    <div class="grid">
      <div class="one-quarter push--large--one-fifth medium-down--one-whole">
        <div class="popup-list">
          <h3>Branding</h3>
          <ul>
            <li>visual identity design</li>
            <li>naming</li>
            <li>tone of voice</li>
            <li>copywriting</li>
            <li>brand manifestos</li>
            <li>audience messaging</li>
          </ul>
          <h3>Interactive</h3>
          <ul>
            <li>web design</li>
            <li>web development</li>
            <li>web animation</li>
          </ul>
        </div>
      </div>
      <div class="one-quarter medium-down--one-whole">
        <div class="popup-list">
          <h3>Art Direction</h3>
          <ul>
            <li>photography</li>
            <li>illustration</li>
            <li>signage + wayfinding</li>
          </ul>
          <h3>Research &amp; Insights</h3>
          <ul>
            <li>Secondary Research</li>
            <li>Stakeholder Interviews</li>
            <li>Identity Discovery</li>
          </ul>
          <h3>Strategy</h3>
          <ul>
            <li>Brand Opportunities</li>
            <li>Positioning</li>
            <li>Visual and Verbal Filters</li>
            <li>Values</li>
            <li>Attributes</li>
          </ul>
          <h3>Marketing</h3>
          <ul>
            <li>social media content</li>
            <li>email marketing content</li>
            <li>campaigns</li>
          </ul>
        </div>
      </div>
      <div class="one-quarter medium-down--one-whole">
        <div class="popup-list">
          <h3>Print Design</h3>
          <ul>
            <li>packaging</li>
            <li>collateral</li>
            <li>editorial</li>
            <li>invitations</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
